#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* bar testing */
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bar {
  width: 100%;
  height: 100px;
  background: sandybrown;
  position: relative;
  z-index: 10;
}

.customer {
  position: absolute;
  border: 2px solid yellow;
  bottom: 0px;
  z-index: 0;
}

.customer img {
  object-fit: cover;
  transform: scale(0.75);
}

.drink {
  width: 50px;
  height: 50px;
  background: lime;
  position: absolute;
}

.tap {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkgreen;
}

.gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
