@font-face {
  font-family: "FancyPants";
  src: url("fonts/FancyPants.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  src: url("fonts/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gameplay-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 10;
  border: 2px solid red;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.support {
  height: 20%;
  width: 5px;
  background: linear-gradient(rgb(75, 43, 10), rgb(48, 27, 4));
  z-index: 1;
}
.bar-shape {
  height: 15%;
  width: 100%;
  background: linear-gradient(rgb(179, 113, 55), rgb(48, 27, 4));
  position: absolute;
  top: 65%;
  border-radius: 0 5px 5px 0;
}

.customer {
  position: absolute;
  border: 2px solid yellow;
  height: 125%;
  bottom: 0;
}

.customer img {
  height: 100%;
}

.drink {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 35%;
}

.drink img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
}

.tap img {
  object-fit: cover;
}

.tap .unfilled {
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.gameover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px 0 black;
}

.sign-main {
  position: relative;
  background: url("wood.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 5px solid rgb(48, 27, 4);
  animation: 3s ease-out forwards grow-sign;
  height: 300px;
  transform-origin: bottom;
  transform: scaleY(0);
}

.fancy {
  font-family: "FancyPants", serif;
}

.logo-the {
  transform: rotate(-10deg);
  margin: 0 1rem;
}

.taptaps {
  position: absolute;
  bottom: 5%;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  width: 100%;
}

.logo-taphouse {
  align-self: flex-end;
  font-size: 2.25rem;
  margin: 0 1rem 1rem 3.5rem;
  letter-spacing: 3px;
}

.logo-tap {
  font-size: 2rem;
}

.pixel {
  font-family: "PressStart2P", monospace;
  font-size: 3rem;
  animation: fadeIn 0.5s steps(2, end) forwards,
    wiggle 1s steps(3, end) alternate infinite; /* Add fadeIn animation */
  opacity: 0;
}

.pixel:nth-of-type(1) {
  animation-delay: 2s, 0.5s;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #00e0ff,
    0 0 40px #00e0ff, 0 0 60px #39ff14;
}

.pixel:nth-of-type(2) {
  animation-delay: 3s, 1s;
  text-shadow: 0 0 5px #ff007f, 0 0 15px #ff007f, 0 0 30px #9d00ff,
    0 0 45px #9d00ff, 0 0 60px #ff007f;
  align-self: center;
}

.pixel:nth-of-type(3) {
  animation-delay: 4s, 1.5s;
  text-shadow: 0 0 5px #00ccff, 0 0 10px #00ccff, 0 0 20px #00ccff,
    0 0 40px #00ccff, 0 0 80px #0088ff;
}

@keyframes wiggle {
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}

@keyframes grow-sign {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.instructions p {
  max-width: 300px;
  text-indent: 1rem;
  font-family: monospace;
  font-size: 0.8rem;
}

.instructions h3 {
  margin: 0;
}

p:last-of-type {
  text-align: center;
  text-indent: unset;
  color: gray;
  font-size: 0.65rem;
}

.warning {
  animation: warning 2s ease-in-out alternate infinite;
}

@keyframes warning {
  to {
    color: rgba(199, 210, 50, 0.8);
  }
}

.hud {
  padding: 0.5rem 0;
  box-shadow: 0 5px 0 rgb(46, 24, 6);
  text-shadow: 2px 2px 0px black;
  font-family: "PressStart2P", monospace;
  font-size: 0.65rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  background: url("wood.png");
  background-size: contain;
}
