@font-face {
  font-family: "FancyPants";
  src: url("/fonts/FancyPants.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* gameplay zone aka bar */
.gameplay-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bar {
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  border-bottom: 5px solid rgb(75, 43, 10);
}

.support {
  height: 30%;
  width: 5px;
  background: linear-gradient(rgb(75, 43, 10), rgb(48, 27, 4));
  z-index: 1;
}

.bar-shape {
  height: 10%;
  width: 100%;
  background: linear-gradient(rgb(179, 113, 55), rgb(48, 27, 4));
  position: absolute;
  top: 65%;
  border-radius: 0 5px 5px 0;
  z-index: 5;
}

.customer {
  position: absolute;
  height: 125%;
  bottom: 0;
}

.customer img {
  height: 100%;
}

.drink {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 35%;
}

.drink img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
}

.tap .unfilled {
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.gameplay-tap::after {
  content: "tap";
  position: absolute;
  font-family: "PressStart2P", monospace;
  animation: wiggle 1s steps(3, end) alternate infinite;
  color: rgb(165, 105, 41);
}

.gameplay-tap:nth-of-type(1)::after {
  top: 35px;
  left: 20px;
  animation-delay: 0.7s;
}

.gameplay-tap:nth-of-type(2)::after {
  bottom: 20px;
  right: 40px;
}

.hud {
  padding: 0.5rem 0;
  box-shadow: 0 5px 0 rgb(46, 24, 6);
  text-shadow: 2px 2px 0px black;
  font-family: monospace;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  background: url("/wood.png");
  background-size: contain;
}

.hud > div {
  display: flex;
  flex-direction: column;
}

.hud span:nth-of-type(2) {
  font-size: 1.5rem;
}

/*menu elements*/
.gameover {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.menu-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-shadow: 2px 2px 0 black;
}

.thanks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-main {
  position: relative;
  background: url("/wood.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 5px solid rgb(48, 27, 4);
  animation: fadeInBounce 3s ease-in-out forwards;
  height: 250px;
  transform-origin: bottom;
}

.fancy {
  font-family: "FancyPants", serif;
}

.logo-the {
  transform: rotate(-10deg);
  margin: 0 1rem;
}

.taptaps {
  position: absolute;
  bottom: 25%;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 55%;
  width: 100%;
}

.logo-taphouse {
  align-self: flex-end;
  font-size: 2.25rem;
  margin: 0 1rem 1rem 3.5rem;
  letter-spacing: 3px;
}

.logo-tap {
  font-size: 2rem;
}

.pixel {
  font-family: "PressStart2P", monospace;
  animation: fadeIn 0.5s steps(2, end) forwards,
    wiggle 1s steps(3, end) alternate infinite;
  opacity: 0;
}

.pixel:nth-of-type(1) {
  font-size: 3.5rem;
  animation-delay: 2s, 0.5s;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #00e0ff,
    0 0 40px #00e0ff, 0 0 60px #39ff14;
}

.pixel:nth-of-type(2) {
  font-size: 2.5rem;
  animation-delay: 3s, 1s;
  text-shadow: 0 0 5px #ff007f, 0 0 15px #ff007f, 0 0 30px #9d00ff,
    0 0 45px #9d00ff, 0 0 60px #ff007f;
  align-self: center;
}

.logo-taphouse span {
  --blueflicker: 0 0 2px #00ccff, 0 0 5px #00ccff, 0 0 10px #00ccff,
    0 0 20px #00ccff, 0 0 40px #0088ff;
  animation: flicker 2s infinite;
  animation-delay: 4s;
  display: inline-block;
}

@keyframes flicker {
  0% {
    text-shadow: var(--blueflicker);
  }
  5% {
    text-shadow: none;
  }
  8% {
    text-shadow: var(--blueflicker);
  }
  11% {
    text-shadow: none;
  }
  15% {
    text-shadow: var(--blueflicker);
  }
  65% {
    text-shadow: var(--blueflicker);
    transform: rotate(0);
  }
  70% {
    text-shadow: none;
  }
  72% {
    text-shadow: var(--blueflicker);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-100px);
  }
  40% {
    opacity: 1;
    transform: scale(1.2) translateY(0);
  }
  60% {
    transform: scale(0.9) translateY(-10px);
  }
  80% {
    transform: scale(1.05) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-wrapper p {
  max-width: 300px;
  text-indent: 1rem;
  font-family: monospace;
  font-size: 0.75rem;
}

h3 {
  margin: 0;
  font-family: monospace;
}

.warning {
  animation: warning 2s ease-in-out alternate infinite;
}

@keyframes warning {
  to {
    color: rgba(199, 210, 50, 0.8);
  }
}

button {
  min-width: 10rem;
  min-height: 5%;
  font-family: monospace;
  font-size: 0.8rem;
}

/* tablet and desktop */
@media screen and (min-width: 768px) {
  .menu-wrapper {
    justify-content: space-evenly;
  }
  .instructions {
    margin: 0 auto;
    max-width: 30%;
  }
  .instructions p {
    max-width: unset;
  }
}
